@charset "UTF-8";

@use 'parts/reset';
@use 'parts/mixin' as m;
@use 'parts/common';
@use 'parts/A';



// .container {
//     background-image: url(..//img/cream-geometric-background-cute-colorful-patterns-design-vector_53876-154117.jpg);
//     background-size: cover;
// }



// main
.mainvisual {
    padding-top: 100px;
    position: relative;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center top;
    }

    .main-text {
        position: absolute;
        top: 60%;

        // @include m.sp {
        //     top: 80%;
        // }

        .text1 {
            font-size: 64px;

            @include m.tab {
                font-size: 48px;
            }

            @include m.sp {
                font-size: 40px;
            }


            background-color: #fff;
            margin-bottom: 10px;
            display: inline-block;
            color: #06D6A0;
        }

        .text2 {
            font-size: 64px;
            background-color: #fff;
            color: #06D6A0;

            @include m.tab {
                font-size: 48px;
            }

            @include m.sp {
                font-size: 40px;
            }
        }
    }
}



// 児童発達支援
.children_support {

    .children_support1 {
        text-align: center;
        padding-top: 80px;

        p {
            text-align: left;
        }

        img {
            width: 300px;
            margin: 40px;
        }
    }

    .children_support2 {
        text-align: center;
        padding-top: 80px;

        img {
            width: 500px;
        }

        .fadein {
            opacity: 0;
            transform: translateY(20px);
            transition: all 1s;
        }

        p {
            margin: 30px 0;
            text-align: left;
        }
    }
}

// 活動内容
.work_detail {
    text-align: center;
    background-color: #FFC43D;
    position: relative;

    .work-item {



        .work-item1 {
            display: flex;
            justify-content: center;

            @include m.tab {
                display: block;
            }

        }

        .work-item2 {
            display: flex;
            justify-content: center;

            @include m.tab {
                display: block;
            }
            
        }

        .item {
            max-width: 300px;
            padding:20px;
            
          

            .fadein {
                opacity: 0;
                transform: translateY(20px);
                transition: all 1s;
            }

            @include m.tab {
                max-width: 550px;
                margin: 0 auto;
                padding: 20px 0;
            }

            .item-title {
                display: inline-block;
                padding: 0 20px;
                margin: 10px 0;
                background-color: #06D6A0;
                border-radius: 40px;
                color: #fff;
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 40px;

                @include m.tab {
                    width: 500px;
                    height: 400px;
                }
            }
        }
    }

    .btn1 {

        margin-bottom: 30px;
        margin-top: 80px;


    }
}

// 活動内容　top
.work_detail2 {
    text-align: center;
    padding-top: 100px;

    .grid {
        display: flex;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
        margin-bottom: 300px;
        margin: 0 auto;

        @include m.tab {
            grid-template-columns: 1fr;
        }

        .items {
            display: flex;

            @include m.tab {
                display: block;
                max-width: 550px;
                margin: 0 auto;
                padding: 20px 0;


            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 40px;

                @include m.tab {
                    width: 500px;
                    height: 400px;
                }
            }

            .item {
                padding-left: 10px;

                .item-title {
                    display: inline-block;
                    padding: 0 20px;
                    margin: 10px 0;
                    background-color: #06D6A0;
                    border-radius: 40px;
                    color: #fff;

                    .item-text {
                        text-align: left;
                    }
                }
            }
        }
    }
}

// 一日のスケジュール
.schedule {
    text-align: center;
    margin-bottom: 150px;
    padding-top: 100px;

    h2 {
        margin-bottom: 100px;
    }

    p {
        max-width: 400px;
        padding: 20px 0;
        margin-bottom: 100px;
        margin: 0 auto;
    }

    dl {
        background-color: #F8FFE5;
        font-size: 20px;
        border: #000 1px solid;
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        dt {
            border-bottom: #000 1px solid;
            width: 40%;
            text-align: left;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        dd {
            border-bottom: #000 1px solid;
            width: 60%;
            text-align: left;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

// 利用までの流れ
.usage {
    text-align: center;
    background-image: url(../img/cream-geometric-background-cute-colorful-patterns-design-vector_53876-154117.jpg);
    background-size: cover;

    .plan {
        width: 100%;

        @include m.tab {
            padding-inline: 10px;
        }

        dt {
            width: 80px;
            height: 80px;
            background-color: #06D6A0;
            border-radius: 50%;
            margin: 0 auto;

            span {
                display: inline-block;
                width: 80%;
                text-align: center;
                margin: 20px 0;
                color: #fff;
            }
        }

        dd {
            background-color: #F8FFE5;
            padding: 20px 40px;
            margin: 20px 0 40px 0;
            border: solid #000 1px;
            border-radius: 20px;
            display: inline-block;
        }
    }

    .usage-start {
        background-color: #EF476F;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        padding: 20px 40px;
        margin: 10px 0;
    }

    .btns {
        margin-top: 80px;

        .btn1 {
            margin-right: 30px;
        }

    }
}

// 利用までの流れTOP

.usage-top {
    text-align: center;
    padding-top: 100px;

    .plan {
        width: 100%;

        @include m.tab {
            padding-inline: 10px;
        }

        dt {
            width: 80px;
            height: 80px;
            background-color: #06D6A0;
            border-radius: 50%;
            margin: 0 auto;

            span {
                display: inline-block;
                width: 80%;
                text-align: center;
                margin: 20px 0;
                color: #fff;
            }
        }

        dd {
            background-color: #F8FFE5;
            padding: 20px 40px;
            margin: 20px 0 40px 0;
            border: solid #000 1px;
            border-radius: 20px;
            display: inline-block;
        }
    }
}

.usage-start {
    background-color: #EF476F;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 40px;
    margin: 10px 0;
}

// 費用について
.cost {
    text-align: center;
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;

    @include m.tab {
        padding-inline: 10px;
    }

    p {
        text-align: left;
        margin-bottom: 30px;
    }

    dl {
        background-color: #F8FFE5;
        font-size: 20px;
        border: #000 1px solid;
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        dt {
            border-bottom: #000 1px solid;
            width: 40%;
            text-align: left;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        dd {
            border-bottom: #000 1px solid;
            width: 60%;
            text-align: left;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .cost-text {
        padding: 20px 0;
        text-align: center;
    }

    .btn2 {
        margin: 30px 0 130px 0;
    }
}

// 最新情報
.inner {
    max-width: 600px;

}

.news {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 240px;
    padding-top: 100px;

    ul {
        max-width: 500px;
        margin: 60px 50px;

        ;

        @include m.sp {
            padding-inline: 10px;
            margin-bottom: 100px;
        }

        li a {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px;
            color: #000;
        }
    }
}

.tree {
    width: 200px;
    position: absolute;
    top: 80%;
    left: -220px;

    @include m.pc {
        top: 10px;
        left: 20px;
    }

    @include m.sp {
        width: 150px;
        top: 30px;
        left: 5px;
    }
}

.bird {
    width: 200px;
    position: absolute;
    top: 20%;
    right: -200px;

    @include m.pc {
        top: 0;
        right: 0;
    }

    @include m.sp {
        width: 150px;
    }
}


// 最新情報TOP
.news-top {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;

    .news-text {
        max-width: 600px;
        background-color: #F8FFE5;
        margin: 0 auto;

        .news-text1 {
            display: flex;

            .news-title {
                font-size: 24px;
            }
        }

        p {
            padding: 30px;
        }
    }

    .news-items {
        display: flex;
        justify-content: center;
        padding: 50px;

        @include m.sp {
            display: block;
        }

        img {
            max-width: 300px;
            margin: 50px 30px 0;
            height: 250px;
            border-radius: 40px;
        }
    }

    .btn3 {
        margin-top: 40px;
    }
}


// お問い合わせ
.contact {
    padding: 130px 60px;
    max-width: 1000px;
    margin: 0 auto;


    .contact-title {
        display: inline-block;
        margin: 30px 0;
        font-size: 32px;
        border-left: 4px solid #000;
        display: inline-block;
        text-shadow: 2px 3px 7px;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        dt {
            width: 20%;

            label {
                font-size: 20px;

                @include m.tab {
                    font-size: 16px;
                }

            }
        }

        dd {
            width: 70%;
            margin-bottom: 10px;

            input,
            textarea {
                width: 100%;
                border: solid 2px #000;
                background-color: #F8FFE5;
                padding: 10px;
            }

            textarea {
                height: 10rem;
            }
        }

    }

}

.contact .submit-btn {
    text-align: center;
    margin-top: 40px;

    input {
        display: inline-block;
        padding: 20px 60px;
        background-color: #FFC43D;
        border-radius: 30px;
        border: #000 1px solid;
        font-weight: bold;
        color: #000;
        box-shadow: 5px 5px 10px;
        transition: 0.3s;

        &:hover {
            background-color: #fff;
        }
    }
}

.contact-item {
    display: flex;
    align-items: center;

    img {
        width: 200px;
        margin-top: 100px;

        @include m.sp {
            width: 150px;
        }
    }

    p {
        position: relative;
        padding: 1.5rem 2rem;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
        border-radius: 0 0 0 20px;
        font-size: 20px;

        @include m.sp {
            font-size: 12px;
            padding: 5px;
        }
    }

    p:before {
        position: absolute;
        left: 50px;
        bottom: -21px;
        width: 0;
        height: 0;
        content: '';
        border-width: 21px 21px 0 0;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
    }

    p:after {
        position: absolute;
        left: 54px;
        bottom: -14px;
        width: 0;
        height: 0;
        content: '';
        border-width: 14px 14px 0 0;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }

}