// ブレイクポイントを指定
$pc: 1080px;
$tab: 768px;
$sp: 480px;

@mixin pc {
    @media screen and (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}
 // @include m.sp {
        //     top: 80%;
        // }style.scssのプロパティの下に書く
        // 